* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d0721;
    color: aliceblue;
    font-family: "Montserrat", serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.search-box {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    position: relative;
}

input {
    font-size: 3vh;
    text-align: center;
    background: linear-gradient(80deg, #9b7e9d, #d4c7d6);
    color: rgb(50, 49, 50);
    font-weight: 600;
    padding: 20px 50px;
    border-radius: 20vh;
    outline: none;
    border: none;
    box-shadow: 0px 2px 8px rgba(240, 235, 241, 0.252);

}

button {
    border: none;
    outline: none;
    font-size: 3vh;
    padding: 10px 40px;
    border-radius: 20vh;
    background: linear-gradient(20deg, rgb(193, 163, 209), rgb(105, 28, 119));
    cursor: pointer;
}


.search-box .error p{
    position: absolute;
    margin-top: 2vh; 
    font-size: 2.3vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50% , -50%);
    display: none;
}

.main-content {
    border: 1px solid rgb(63, 16, 86);
    border-radius: 30px;
    position: relative;
    display: none;

}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3vh;
}

.main-content .box1 i {
    font-size: 25vmin;
    font-weight: 700;

}

.main-content .box1 .weather-name{
    font-size: 4.6vh;
    margin-bottom: 6px;
    font-weight: 100;
    background: rgba(99, 25, 114, 0.293);
    padding: 0 5vw;
    border-radius: 10px;
    
}

h2,h3 {
    font-size: 30px;
    font-weight: 500;
    background: linear-gradient(20deg, rgb(167, 155, 169), rgb(195, 117, 225));
    -webkit-background-clip: text;
    color: transparent;
}


.weather-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vw;
    padding: 2vh 6vw;
    text-align: center;
    width: 100%;  
}

.weather-info .col{
    padding: 0 7vw;
    margin: 0 3vw;
    border: 2px solid rgb(33, 9, 46);
    box-shadow: 1px 2px 3px rgba(91, 59, 102, 0.497);
   
}
.weather-info .col i{
    font-size: 5vw;
    font-weight: 500;
}

.weather-info .col p{
    font-weight: 400;
    font-size: 4vmin;
    background: linear-gradient(20deg, rgb(167, 155, 169), rgb(195, 117, 225));
    -webkit-background-clip: text;
    color: transparent;

    
}









@media (max-width:600px) {

   .search-box{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
   
   }
   
    input {
        font-weight: 700;
        padding:10px;
        font-size: 1.3vh;
    }

    .search-box button{
        margin-top: 5vh;
    }

    button {
        padding: 13px 20px;
    }

    .main-content{
        margin-top: 20vh;
    }


    .weather-info{
        display: flex;
       font-size: 3rem;

    }

    .col{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        
    }
   .weather-info .col i{
        font-size: 17vw;
        
    }
    .col p{
        font-size: 23vmax;
        width: 100%;
      
    }

    /* .search-box .error p{
        position: absolute;
        top: 50%;
        left: 50%;
    } */
        
    
   }  






     @media (max-width: 480px) {
        .search-box {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    
        input {
            font-size: 2vh;
            padding: 15px 30px;
        }
    
        button {
            padding: 10px 30px;
            font-size: 2.5vh;
        }
    
        .box1 i {
            font-size: 20vmin;
        }
    
        .weather-info {
            font-size: 4vw;
        }
    
        .weather-info .col i {
            font-size: 8vw;
        }
    
        .weather-info .col p {
            font-size: 3vw;
        }
    
        /* .search-box .error p {
            position: absolute;
            top: 10vh;
            left: 3vw;
            font-size: 2vw;
        } */
    }
    



    @media (max-width: 1080px) {
        input {
            font-size: 3.2vh;
            padding: 20px 45px;
        }
    
        button {
            padding: 16px 45px;
            font-size: 3.2vh;
        }
    
        .box1 i {
            font-size: 27vmin;
        }
    
        .weather-info {
            font-size: 2.5vw;
        }
    
        .weather-info .col i {
            font-size: 5.5vw;
        }
    
        .weather-info .col p {
            font-size: 2.5vw;
        }

        /* .search-box .error p {
           position: relative;
            top: 10vh;
            left: 30vh;
            font-size: 3vh;
        } */
    }
    
   
    @media (max-width: 1440px) {
        input {
            font-size: 3.5vh;
            padding: 25px 50px;
        }
    
        button {
            padding: 18px 50px;
            font-size: 3.5vh;
        }
    
        .box1 i {
            font-size: 30vmin;
        }
    
        .weather-info {
            font-size: 2vw;
        }
    
        .weather-info .col i {
            font-size: 4.5vw;
        }
    
        .weather-info .col p {
            font-size: 2vw;
        }

        /* .search-box .error p{
            position: relative;
            top: 7vw;
            left: 30vh;
            font-size: 3vh;
        } */

    }
 
